<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="icon" type="image/png" href="/favicon.png" />
</head>
<body>
  {{{body}}}
  <script src="/js/form_validation.js"></script>
  <!--included chart.js and client side progress.js -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="/js/progress.js"></script>

</body>
</html>
