<div class="auth-container">
  <h2>Personalized Learning Dashboard</h2>
  
  {{#if firstName}}
  <p>Welcome back, <strong>{{firstName}}</strong>!</p>
    <div class="auth-btns">
      <a href="/dashboard">
        <button type="button">Dashboard</button>
      </a>
      {{#if isAdmin}}
      <a href="/admin">
        <button type="button" class="admin-dashboard-btn">Go to Admin Dashboard</button>
      </a>
      {{/if}}
    </div>

  {{else}}
  <p>Track your learning journey with our personalized dashboard</p>
  
  
  <div class="auth-btns login-section">
    <a href="/auth/login">
      <button type="button">Login</button>
    </a>
    <p class="sub-link sub-link-landing">
      New user? <a href="/auth/register">Register here</a>
    </p>
  </div>
  {{/if}}
</div>
